<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset="UTF-8" name="viewport">

        {% block stylesheets %}   
            <!-- Bootstrap 3.3.5 -->
            <link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('css/AdminLTE.min.css') }}">
            <!-- iCheck -->
            <link rel="stylesheet" href="{{ asset('lib/iCheck/square/blue.css') }}">

            <link rel="stylesheet" href="{{ asset('css/skins/_all-skins.min.css') }}">


        {% endblock %}
       
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <header class="{% block header_class %}{% endblock %}">
            {% block header %}{% endblock %}
        </header>
        

        {% block body %}


        {% endblock %}
         
      <!--   <footer class="{% block footer_class %} {% endblock %}">
            {% block footer %}
            {% endblock %}
        </footer>  -->
        

        {% block javascripts %}
            <!-- jQuery 2.1.4 -->
            <script src="{{ asset('lib/jQuery/jQuery-2.1.4.min.js') }}"></script>
            <!-- Bootstrap 3.3.5 -->
            <script src="{{ asset('lib/bootstrap/js/bootstrap.min.js') }}"></script>
            <!-- iCheck -->
            <script src="{{ asset('lib/iCheck/icheck.min.js') }}"></script>
            <script>
                $(function () {
                    $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                    });
                    $('#user_avatarUrl').on("change" , function(){
                    var input = document.getElementById("user_avatarUrl");
                    var fReader = new FileReader();
                    fReader.readAsDataURL(input.files[0]);
                    fReader.onloadend = function(event){
                            $('#imgavatar').attr("src",event.target.result);
                        };
                     });
                });
            </script>
        {% endblock %}  

    </body>
</html>
