{% extends 'base.html.twig' %}

{% block title %} Change Password {% endblock %}
{% block body_class 'hold-transition register-page' %}
    {% block body %}

        <div class="register-box">
            <div class="register-logo">
                <a href="#"><b>Change Password</b></a>
            </div>

            <div class="register-box-body">
                <p class="login-box-msg">Change Password</p>
                {{ form_start(form, {'attr': {'novalidate' : 'novalidate'} } ) }}
                <div class="alert-danger">
                    {{ form_errors(form) }}
                </div>
                <div class="form-group has-feedback">
                    {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control', 'placeholder':form.oldPassword.vars.label }}) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <div class="alert-danger">{{ form_errors(form.oldPassword) }}</div> 
                </div>                
                <div class="form-group has-feedback">
                    {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control', 'placeholder':form.newPassword.first.vars.label }}) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <div class="alert-danger">{{ form_errors(form.newPassword.first) }}</div> 
                </div>
                <div class="form-group has-feedback">
                    {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control', 'placeholder':form.newPassword.second.vars.label }}) }}
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-danger">Change password</button>
                        <a href="{{ path('user_info', {'id': app.request.get('id') } ) }}" class="btn btn-primary pull-right">Cancel</a>
                    </div><!-- /.col -->
                </div>
                {{ form_end(form) }}
            </div><!-- /.form-box -->
        </div><!-- /.register-box -->
    {% endblock %}


